electron_mirror=https://npmmirror.com/mirrors/electron/
registry=https://registry.npmmirror.com
@electron:registry=https://registry.npmmirror.com
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=600000
engine-strict=true